<!DOCTYPE html>
{{ partial "lang.html" . }}
<head>
{{ partial "head.html" . }}
</head>

<body>
	<div class="wrapper">
{{ partial "sidebar.html" . }}

		<div class="main-wrapper">
{{ if .Site.Params.summary.enable }}
{{ partial "summary.html" . }}
{{ end }}
{{ if .Site.Params.news.enable }}
{{ partial "news.html" . }}
{{ end }}
{{ if .Site.Params.publications.enable }}
{{ partial "publications.html" . }}
{{ end }}
{{ if .Site.Params.patents.enable }}
{{ partial "patents.html" . }}
{{ end }}
{{ if .Site.Params.experiences.enable }}
{{ partial "experiences.html" . }}
{{ end }}
{{ if .Site.Params.services.enable }}
{{ partial "services.html" . }}
{{ end }}
		</div><!--//main-body-->
	</div>
{{ partial "footer.html" . }}
{{ partial "scripts.html" . }}
</body>
</html>
